<div class="face" (click)="faceClick()" [ngClass]="face.validated ? 'validated' : 'to-be-validated'">
  <img src="{{ getFaceUrl() }}" loading="lazy"/>
  <div class="do-not-exist" *ngIf="!face.sourceUrl">
    <mat-icon color="accent">close</mat-icon>
  </div>
  <button
    class="face-button delete warn-color warn-light-background-color"
    mat-icon-button
    (click)="deleteFace($event)"
    matTooltip="Delete this face"
  >
    <mat-icon>delete</mat-icon>
  </button>
  <button
    class="face-button validate ok-color ok-light-background-color"
    mat-icon-button
    (click)="validateFace($event)"
    matTooltip="Validate this face"
  >
    <mat-icon>thumb_up</mat-icon>
  </button>
  <button
    class="face-button unvalidate warn-color warn-light-background-color"
    mat-icon-button
    (click)="unvalidateFace($event)"
    matTooltip="Unvalidate this face"
  >
    <mat-icon>thumb_down</mat-icon>
  </button>
  <button
    class="face-button move warn-color warn-light-background-color"
    mat-icon-button
    (click)="moveFace($event)"
    matTooltip="Move this face"
  >
    <mat-icon>front_hand</mat-icon>
  </button>
</div>
