<div class="dialog-header" mat-dialog-title>
  <span>Where do you want to move this face from </span>
  <span class="accent-color">{{data.person_name}}</span>
  <span> ? </span>
</div>
<mat-dialog-actions align="end">
  <div class="face-dialog move">
    <div class="face">
      <img src="{{ data.faceUrl }}" />
      <div class="do-not-exist" *ngIf="!data.face.sourceUrl">
        <mat-icon color="accent">close</mat-icon>
      </div>
    </div>
    <form class="my-form">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          type="text"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto"
          cdkFocusInitial
        />
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option
            *ngFor="let option of filteredOptions | async"
            [value]="option"
          >
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="myControl.value" color="primary">
    Move
  </button>
</mat-dialog-actions>
