:host {
  position: relative;
}

.face {
  display: inline-flex;
  vertical-align: middle;

  height: 4em;
  width: 4em;
  padding-bottom: 1em;
  padding-top: 1em;
  transition: width 0.5s ease, height 0.5s ease, padding 0.5s ease;
}

.face:hover {
  height: 6em;
  width: 6em;
  padding-bottom: 0;
  padding-top: 0;
}

.face img {
  width: 100%;
  height: 100%;
}

.face .do-not-exist {
  position: absolute;
  height: 4em;
  width: 4em;
  transition: width 0.5s ease, height 0.5s ease;
  display: flex;
}
.face:hover .do-not-exist {
  height: 6em;
  width: 6em;
}
.face .do-not-exist mat-icon {
  opacity: 0.5;
  font-size: 4em;
  transition: font-size 0.5s ease;
}

.face:hover .do-not-exist mat-icon {
  font-size: 6em;
}

/* --------------------- */
.face .face-button {
  position: absolute;
  /* background-color: lightgoldenrodyellow; */
  transform: scale(0.6);
  top: calc(-1em - 10px);
  opacity: 0;
  transition: opacity 0.1s ease, top 0.5s ease;
}
.face:hover .face-button {
  opacity: 0.5;
  top: calc(-2em - 10px);
  transition: opacity 3s ease, top 0.5s ease;
}
.face .face-button.delete {
  right: -6px;
}
.face .face-button.validate,
.face .face-button.unvalidate {
  left: -6px;
}
.face .face-button.move {
  left: 22px;
}
.validated .face-button.validate,
.to-be-validated .face-button.unvalidate {
  display: none;
}

.face-dialog {
  flex-grow: 100;
  justify-content: center;
  display: flex;
  height: 6em;
}
.move.face-dialog {
  justify-content: space-around;
}

.image-origin .face-button {
  position: absolute;
  top: 2px;
  opacity: 0.5;
}
.image-origin .face-button.delete {
  right: 4px;
}
.image-origin .face-button.validate,
.image-origin .face-button.unvalidate {
  left: 26px;
}
.image-origin .face-button.move {
  left: 70px;
}

/* --------------------- */
.dialog-header .url {
  font-size: 2em;
}

.image-origin {
  position: relative;
  margin-right: 0;
  padding-right: 0;
}
.image-origin .cadre {
  margin-left: 24px;
  /* background-color: red; */
  border-width: 2px;
  /* border-color: red; */
  border-style: solid;
  opacity: 0.8;
  width: 100px;
  height: 100px;
  position: absolute;
}

.close-button {
  /* position: absolute;
    top:0;
    right:0; */
  float: right;
  top: -24px;
  right: -24px;
}

.close-icon {
  transition: 1s ease-in-out;
}

.close-icon:hover {
  transform: rotate(180deg);
}

::ng-deep .icon-outside .close-button {
  float: right;
  top: -52px;
  right: -52px;
}

::ng-deep .icon-outside .mat-dialog-container {
  overflow: unset;
}
