/* .person_faces .mat-expansion-panel-header-title,
.person_faces .mat-expansion-panel-header-description {
  flex-basis: 0;
} */


.header-image {
  background: lightgray;
}

.mat-card-header {
  height: 3.5em;
}
mat-card-title.mat-card-title {
  width: 15em;
}
mat-card-title mat-form-field {
  margin-top: -2em;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: 2em;
  font-size: 0.8em;
}

.person_faces .mat-expansion-panel-header-description {
  justify-content: flex-end;
}

.mat-expansion-panel-spacing {
  margin-bottom: 0;
  margin-top: 0;
}
.mat-expansion-panel-header.mat-expanded {
  height: 45px;
}