<mat-card>
  <mat-card-header>
    <img
      *ngIf="person.getValidated().length > 0"
      mat-card-avatar
      class="header-image"
      src="{{ getPersonThumbnailUrl() }}"
      loading="lazy"
    />
    <img
      *ngIf="person.getValidated().length <= 0"
      mat-card-avatar
      class="header-image"
      src="/assets/unknownFace1.png"
    />
    <mat-card-title>
      <span *ngIf="!editing_name" (click)="nameClick()">{{ person.name }}</span>
      <mat-form-field
        *ngIf="editing_name"
        appearance="standard"
        disabled="true"
        floatLabel="never"
        (focusout)="nameFocusOut()"
        (focusin)="nameFocusIn()"
      >
        <input
          matInput
          [(ngModel)]="person.name"
          (ngModelChange)="nameChanged()"
        />
      </mat-form-field>
    </mat-card-title>
    <mat-card-subtitle>&nbsp;</mat-card-subtitle>
    <div class="description">
      <span>Creation : {{ person.creationTime | date: 'medium' }}</span>
      <span
        >Modification : {{ person.modificationTime | date: 'medium' }}</span
      >
    </div>
</mat-card-header>
  <mat-card-content>
    <mat-accordion class="person_faces">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span *ngIf="person.summary">Loading ...</span>
            <span
              *ngIf="!person.summary"
              matBadge="{{ person.getValidated().length }}"
              matBadgeSize="small"
              matBadgeOverlap="true"
              >Validated</span
            >
          </mat-panel-title>
          <mat-panel-description>
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <face-recognition-editor-face
          *ngFor="let f of person.getValidated()"
          class="face"
          [person]="person"
          [face]="f"
        >
        </face-recognition-editor-face>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="person.getToValidate().length > 0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span
              matBadge="{{ person.getToValidate().length }}"
              matBadgeSize="small"
              matBadgeOverlap="true"
              >To be validated</span
            >
          </mat-panel-title>
          <mat-panel-description>
            <mat-icon>help</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <face-recognition-editor-face
          *ngFor="let f of person.getToValidate()"
          class="face"
          [person]="person"
          [face]="f"
        >
        </face-recognition-editor-face>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
