<mat-card>
  <mat-card-header>
    <img
      mat-card-avatar
      class="example-header-image"
      src="/api/person/{{ person.id }}/validated/{{ person.validated[0] }}"
    />
    <mat-card-title>
      <span *ngIf="!editing_name" (click)="editing_name = true">{{ person.name }}</span>
      <mat-form-field *ngIf="editing_name" appearance="standard" disabled="true" floatLabel="never" (focusout)="editing_name = false">
        <input matInput [(ngModel)]="person.name"> 
      </mat-form-field>
    </mat-card-title>
    <mat-card-subtitle>&nbsp;</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion class="person_faces">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span
              matBadge="{{ person.validated.length }}"
              matBadgeSize="small"
              matBadgeOverlap="true"
              >Validated</span
            >
          </mat-panel-title>
          <mat-panel-description>
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <face-recognition-editor-face
          *ngFor="let f of person.validated"
          class="face"
          [person_id]="person.id"
          [face]="f"
          [validated]=true
        >
        </face-recognition-editor-face>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="person.toValidate.length > 0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span
              matBadge="{{ person.toValidate.length }}"
              matBadgeSize="small"
              matBadgeOverlap="true"
              >To be validated</span
            >
          </mat-panel-title>
          <mat-panel-description>
            <mat-icon>help</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <face-recognition-editor-face
          *ngFor="let f of person.toValidate"
          class="face"
          [person_id]="person.id"
          [face]="f"
          [validated]=false
        >
        </face-recognition-editor-face>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
