@import '~@angular/material/theming';
//@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@include mat-core();

$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, 50, A400);

// The warn palette is optional (defaults to red).
$warn: mat-palette($mat-red);
$ok: mat-palette($mat-green);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$theme: mat-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);

.person_faces .mat-expansion-panel-header .mat-content {
  overflow: visible;
}

.orientation-bottom-right {
  transform: rotate(180deg);
}
.orientation-right-top {
  transform: rotate(90deg);
}
.orientation-left-bottom {
  transform: rotate(-90deg);
}


.accent-color {
  color: mat-color($accent) !important;
}
.accent-border-color {
  border-color: mat-color($accent) !important;
}
.accent-light-background-color {
  background-color: mat-color($accent, A100) !important;
}
.ok-color {
  color: mat-color($ok, A400) !important;
}
.ok-light-background-color {
  background-color: mat-color($ok, A100) !important;
}
.warn-color {
  color: mat-color($warn, A400) !important;
}
.warn-light-background-color {
  background-color: mat-color($warn, A100) !important;
}

.progress-bar-current .mat-progress-bar-buffer.mat-progress-bar-element,
.progress-bar-current svg.mat-progress-bar-background.mat-progress-bar-element {
  opacity: 0;
}
.progress-bar-max.mat-progress-bar.mat-accent .mat-progress-bar-fill::after {
  background-color: mat-color($accent, A100);
}